trigger:
  branches:
    include:
    - branch-for-*
pr: none

variables:
  # Name of the service connection set up in Azure Pipelines, used to upload
  # release artifacts to GitHub. Set to false to disable.
  GH_CONNECTION: wheelwright
  REPO_DIR: checkout
  ARTIFACT_NAME: artifacts
  LINUX_TARGET: /io
  BUILD_DEPENDS: "-Ur checkout/requirements.txt"
  TEST_DEPENDS: "-Ur checkout/requirements.txt"
  PLAT: x86_64
  UNICODE_WIDTH: 32
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
- job: "sdist"
  variables:
    python.version: '3.8'
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  # This is messy, but the most convenient way to turn a JSON file into env
  # variables without requiring extra dependencies. The "##vso" stuff makes the
  # variables available to later steps.
  #
  # We're also setting py35 as an output variable to be used in the next
  # step and its build matrix. This lets us avoid having to add complex
  # conditions to each build step (as there seems to be no convenient way to
  # just skip the whole rest of the pipeline).
  - bash: |
      eval $(python -c "
      import json; import sys
      with open('build-spec.json') as f: spec = json.load(f)
      release_id = spec.get('upload-to', {}).get('release-id', '')
      build_py35 = spec.get('options', {}).get('py35', '')
      sys.stdout.write('BUILD_SPEC_CLONE_URL={}\n'.format(spec.get('clone-url')))
      sys.stdout.write('BUILD_SPEC_PACKAGE_NAME={}\n'.format(spec.get('package-name')))
      sys.stdout.write('BUILD_SPEC_RELEASE_ID={}\n'.format(release_id))
      sys.stdout.write('BUILD_SPEC_PY35={}\n'.format(build_py35))")
      echo "##vso[task.setvariable variable=clone_url]$BUILD_SPEC_CLONE_URL"
      echo "##vso[task.setvariable variable=package_name]$BUILD_SPEC_PACKAGE_NAME"
      echo "##vso[task.setvariable variable=checkout]$REPO_DIR"
      echo "##vso[task.setvariable variable=release_tag]$BUILD_SPEC_RELEASE_ID"
      echo "##vso[task.setvariable variable=py35;isOutput=true]$BUILD_SPEC_PY35"
    name: set_variables
    displayName: 'Set variables'

  - script: |
      git clone $(clone_url) $(checkout)
      cd $(checkout)
      python -m pip install -U pip
      pip install -r requirements.txt
      python setup.py sdist
    displayName: 'Install and build sdist'

  - bash: |
      cd $(Build.SourcesDirectory)/$(checkout)
      SDIST=$(python -c "import os;print(os.listdir('./dist')[0])" 2>&1)
      pip install dist/$SDIST
      rm -rf $(package_name)
      python -m pytest --pyargs $(package_name)
    displayName: 'Install from sdist & run tests'

  - task: CopyFiles@2
    inputs:
      contents: '$(checkout)/dist/**'
      targetFolder: $(Build.ArtifactStagingDirectory)
      flattenFolders: true
    displayName: 'Copy sdist'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: '$(ARTIFACT_NAME)'
    displayName: 'Publish sdist to artifacts'

  - task: GitHubRelease@0
    inputs:
      gitHubConnection: '$(GH_CONNECTION)'
      repositoryName: '$(Build.Repository.Name)'
      action: 'edit'
      tagSource: manual
      tag: '$(release_tag)'
      addChangeLog: false
      assetUploadMode: replace
      assets: '$(Build.ArtifactStagingDirectory)/*'
    displayName: 'Upload to GitHub release'

- job: 'wheels'
  dependsOn: 'sdist'
  continueOnError: true
  strategy:
    matrix:
      Python35Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.5'
        os: linux
        active: $[ dependencies.sdist.outputs['set_variables.py35'] ]
      Python35Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.5'
        os: win
        active: $[ dependencies.sdist.outputs['set_variables.py35'] ]
      Python36Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.6'
        os: linux
        active: true
      Python36Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.6'
        os: win
        active: true
      Python36Mac:
        imageName: 'macos-10.13'
        python.version: '3.6'
        os: osx
        active: true
      Python37Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.7'
        os: linux
        active: true
      Python37Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.7'
        os: win
        active: true
      Python37Mac:
        imageName: 'macos-10.13'
        python.version: '3.7'
        os: osx
        active: true
      Python38Linux:
        imageName: 'ubuntu-16.04'
        python.version: '3.8'
        os: linux
        active: true
      Python38Windows:
        imageName: 'vs2017-win2016'
        python.version: '3.8'
        os: win
        active: true
      Python38Mac:
        imageName: 'macos-10.13'
        python.version: '3.8'
        os: osx
        active: true
    maxParallel: 4
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'
    condition: eq(variables['active'], 'true')

  - script: git submodule update --init --recursive
    condition: eq(variables['active'], 'true')
    displayName: 'Set up multibuild'

  # This is gettext needed for envsubst on osx =/
  - script: |
      brew install gettext
      brew link --force gettext
    condition: and(eq(variables['os'], 'osx'), eq(variables['active'], 'true'))
    displayName: 'Before install (Mac)'

  - script: |
      SET PATH=%PYTHON%;%PYTHON%\Scripts;%PATH%
      python -m pip install -U pip setuptools wheel virtualenv
    condition: and(eq(variables['os'], 'win'), eq(variables['active'], 'true'))
    displayName: 'Before install (Windows)'

  # This is messy, but the most convenient way to turn a JSON file into env
  # variables without requiring extra dependencies. The "##vso" stuff makes the
  # variables available to later steps.
  - bash: |
      eval $(python -c "
      import json; import sys
      with open('build-spec.json') as f: spec = json.load(f)
      release_id = spec.get('upload-to', {}).get('release-id', '')
      use_llvm = spec.get('options', {}).get('llvm', '')
      build_py35 = spec.get('options', {}).get('build_py35', '')
      sys.stdout.write('BUILD_SPEC_CLONE_URL={}\n'.format(spec.get('clone-url')))
      sys.stdout.write('BUILD_SPEC_COMMIT={}\n'.format(spec.get('commit')))
      sys.stdout.write('BUILD_SPEC_PACKAGE_NAME={}\n'.format(spec.get('package-name')))
      sys.stdout.write('BUILD_SPEC_RELEASE_ID={}\n'.format(release_id))
      sys.stdout.write('BUILD_SPEC_LLVM={}\n'.format(use_llvm))")
      echo "##vso[task.setvariable variable=clone_url]$BUILD_SPEC_CLONE_URL"
      echo "##vso[task.setvariable variable=package_name]$BUILD_SPEC_PACKAGE_NAME"
      echo "##vso[task.setvariable variable=commit]$BUILD_SPEC_COMMIT"
      echo "##vso[task.setvariable variable=release_tag]$BUILD_SPEC_RELEASE_ID"
      echo "##vso[task.setvariable variable=checkout]$REPO_DIR"
      echo "##vso[task.setvariable variable=llvm]$BUILD_SPEC_LLVM"
      echo "##vso[build.updatebuildnumber]$BUILD_SPEC_RELEASE_ID"
    condition: eq(variables['active'], 'true')
    displayName: 'Set variables'

  - script: |
      pip install virtualenv
      git clone $(clone_url) $(checkout)
      export BUILD_COMMIT=$(commit)
      export PACKAGE_NAME=$(package_name)
      cat config.sh.template | envsubst > config.sh
    condition: and(or(eq(variables['os'], 'osx'), eq(variables['os'], 'linux')), eq(variables['active'], 'true'))
    displayName: 'Install (Mac / Linux)'

  # This is hard-coded in the Docker scripts for Linux
  - task: CopyFiles@2
    inputs:
      contents: '/**'
      targetFolder: $LINUX_TARGET
    condition: and(eq(variables['os'], 'linux'), eq(variables['active'], 'true'))
    displayName: 'Copy multibuild files (Linux)'

  - script: |
      export MB_PYTHON_VERSION=$(python.version)
      export TRAVIS_PYTHON_VERSION=$(python.version)
      export TRAVIS_OS_NAME=$(os)
      export BUILD_COMMIT=$(commit)
      source $(Build.SourcesDirectory)/multibuild/common_utils.sh
      source $(Build.SourcesDirectory)/multibuild/travis_steps.sh
      before_install
      clean_code $(checkout) $(commit)
      export CONFIG_PATH=$LINUX_TARGET/config.sh
      export MULTIBUILD_DIR=multibuild
      build_wheel $(checkout) $PLAT
      install_run $PLAT
    condition: and(or(eq(variables['os'], 'osx'), eq(variables['os'], 'linux')), eq(variables['active'], 'true'))
    displayName: 'Build wheel (Mac / Linux)'

  - script: choco install llvm
    condition: and(eq(variables['os'], 'win'), eq(variables['llvm'], 'true'), eq(variables['active'], 'true'))
    displayName: 'Install LLVM if needed (Windows)'

  # The env variables are needed to compile things like Blis
  - script: |
      set "PATH=C:\Program Files\LLVM\bin;%PATH%"
      set "INCLUDE=%$VC_INCLUDEPATH%"
      git clone $(clone_url) $(checkout)
      cd $(checkout)
      git checkout $(commit)
      pip install -Ur requirements.txt
      python setup.py bdist_wheel
    condition: and(eq(variables['os'], 'win'), eq(variables['active'], 'true'))
    displayName: 'Install and build wheel (Windows)'

  # Temporary workaround, see: https://github.com/pypa/pip/issues/6951
  - task: PythonScript@0
    inputs:
      scriptSource: inline
      script: |
        import os
        wheel_file = os.listdir('./dist')[0]
        wheel_path = os.path.join('./dist', wheel_file)
        os.rename(wheel_path, wheel_path.replace("cp38m-win", "cp38-win"))
        print(os.listdir('./dist'))
      failOnStderr: true
      workingDirectory: '$(Build.SourcesDirectory)/$(checkout)'
    condition: and(eq(variables['os'], 'win'), eq(variables['python.version'], '3.8'), eq(variables['active'], 'true'))
    displayName: Fix wheel name (Windows, Python 3.8)

  - bash: |
      cd $(checkout)
      WHEEL=$(python -c "import os;print(os.listdir('./dist')[0])" 2>&1)
      pip install dist/$WHEEL
      rm -rf $(package_name)
      python -m pytest --pyargs $(package_name)
    condition: and(eq(variables['os'], 'win'), eq(variables['active'], 'true'))
    displayName: 'Test wheel (Windows)'

  - task: CopyFiles@2
    inputs:
      contents: 'checkout/dist/**'
      targetFolder: $(Build.ArtifactStagingDirectory)
      flattenFolders: true
    condition: and(eq(variables['os'], 'win'), eq(variables['active'], 'true'))
    displayName: 'Copy wheel (Windows)'

  - task: CopyFiles@2
    inputs:
      contents: 'wheelhouse/**'
      targetFolder: $(Build.ArtifactStagingDirectory)
      flattenFolders: true
    condition: and(or(eq(variables['os'], 'osx'), eq(variables['os'], 'linux')), eq(variables['active'], 'true'))
    displayName: 'Copy wheel (Mac / Linux)'

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: $(Build.ArtifactStagingDirectory)
      artifactName: '$(ARTIFACT_NAME)'
    condition: eq(variables['active'], 'true')
    displayName: 'Publish artifact'

  - task: GitHubRelease@0
    inputs:
      gitHubConnection: '$(GH_CONNECTION)'
      repositoryName: '$(Build.Repository.Name)'
      action: 'edit'
      tagSource: manual
      tag: '$(release_tag)'
      addChangeLog: false
      assetUploadMode: replace
      assets: '$(Build.ArtifactStagingDirectory)/*'
    condition: and(not(eq(variables['GH_CONNECTION'], 'false')), eq(variables['active'], 'true'))
    displayName: 'Upload to GitHub release'
